.boards-list {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;  

   .boards-list-group {
        display:flex;

      .select-boards-list {
        min-width:200px;
        min-height:30px;
        margin-right:5px;
     } 
   } 
}