<div class="boards-list">
  @if (isLoading){
  <app-loader></app-loader>
  } @for (board of boardsList(); track board.id) {
  <app-trello-board
    [board]="board"
    (click)="onBoardClick(board.id)"
  ></app-trello-board>
  } @if (!isLoading && boardsList().length === 0) {
  <h1>No boards</h1>
  }
</div>
@if (!displayBoardForm){
<button (click)="displayBoardForm = true" class="btn-secondary">
  Add Board
</button>
} @if (displayBoardForm){
<app-form-board (boardAdded)="onBoardAdded()"></app-form-board>
<button
  (click)="displayBoardForm = false"
  class="btn-secondary"
  [ngStyle]="{ 'margin-top': '10px' }"
>
  Hide
</button>
}
