<form [formGroup]="cardForm" (ngSubmit)="onSubmit()" class="form-card">
  <h3 class="h3-header">Add New Card</h3>
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" type="text" formControlName="name" />

    <div *ngIf="cardForm.get('name')?.touched && cardForm.get('name')?.invalid">
      <small *ngIf="cardForm.get('name')?.errors?.['required']">
        >Name is required.</small
      >
    </div>
  </div>

  <button type="submit" class="btn-secondary full-width">Submit</button>
</form>
