<div class="trello-list-container">
  @if (isLoading) {
  <app-loader></app-loader>
  } @else { @if (getBoardMetrics().length > 0) {
  <div class="metrics">
    @for (metric of getBoardMetrics(); track metric.name) {
    <div>
      <strong>{{ metric.name }}: {{ metric.totalCards }}</strong>
    </div>
    }
  </div>
  } @if (tasksLists().length > 0) {
  <div class="trello-lists">
    @for (list of tasksLists(); track list.id) {
    <app-trello-list [list]="list"></app-trello-list>
    }
  </div>
  } @else {
  <div class="trello-lists"><h1>No lists</h1></div>
  } }
</div>
